/* navbar.css */

/* Contenedor principal del nav */
.navbar {
  background-color: #1C3144;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

/* Contenedor que agrupa el logo y los links */
.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navbar img{
  width: 100%;
  height: 5em;
  border-radius: 70%;
}

/* Links de navegación */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Cada item de navegación */
.navbar-item {
  color: rgb(250, 250, 250);
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect para los items */
.navbar-item:hover {
  background-color: #2e768a;
  border-radius: 5px;
  transition: all 0.5s ease;
}

/* Si está autenticado, el 'usuario' se mueve a la derecha */
.navbar-links-right {
  margin-left: auto;  /* Esto empuja los elementos a la derecha */
  display: flex;
  align-items: center;
  gap: 20px;
}

button{
  background-color: #2e768a17;
  border-style: dotted;
  border-radius: 30%;
}
