/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
   */
  .container {
    background-color: #FFBA08;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  